# AI and Machine Learning
tensorflow==2.4.1
scikit-learn==0.24.1

# File and Directory Handling
pathlib==1.0.1

# Command Line Interface
click==7.1.2

# Version Control
GitPython==3.1.14

# Documentation
sphinx==3.5.3

# Testing
pytest==6.2.2
